<!DOCTYPE html>
<html lang="en">

<head>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles.css') }}">
    <script src="{{ url_for('static', filename='Main.js') }}"></script>
    <script src="{{ url_for('static', filename='resize.js') }}"></script>

</head>

<body>

    <header>
        <div class="dashboard-title">RobotMetrics Dashboard</div>
    </header>

<body>

                <div class='container2'>
        
                    <section>
                        <div class="chart-row">
                            <div class="chart-container full-width" 
                            ontouchstart="ts(event)"
                            ontouchmove="tm(event)">
                                <h2>Changeable Chart</h2>
                                <h3>Janus: </h3>
                                <p class="ai-output"><Response 380 bytes [200 OK]></p>

                                <select id="x-axis-dropdown">
                                  
                                    <option value="Execution_Time">Execution Time</option>
                                    <option value="Identification">Identification Time</option>
                                    <option value="CPU_Usage">CPU Usage</option>
                                    <option value="Variable_Manipulation_Time">Variable Manipulation Time</option>
                                    <option value="Network_Requests">Network Requests</option>
                                    <option value="Error_Exception_Count">Error Exception Count</option>
                                    <option value="Power_Consumption">Power Consumption</option>
                                    <option value="Task_Success">Task Success</option>
                                    <option value="Transaction_Type">Transaction Type</option>
                                    <option value="Assignee">Assignee</option>
                                    
                                </select>
            
                                <select id="y-axis-dropdown">
                                
                                    <option value="Execution_Time">Execution Time</option>
                                    <option value="Identification_Time">Identification Time</option>
                                    <option value="CPU_Usage">CPU Usage</option>
                                    <option value="Variable_Manipulation_Time">Variable Manipulation Time</option>
                                    <option value="Network_Requests">Network Requests</option>
                                    <option value="Error_Exception_Count">Error Exception Count</option>
                                    <option value="Power_Consumption">Power Consumption</option>
                                    <option value="Task_Success">Task Success</option>
                                    <option value="Transaction_Type">Transaction Type</option>
                                    <option value="Assignee">Assignee</option>
                                    
                                </select>

                                <select id="type-dropdown">
                                    <option value ="bar">Bar Chart</option>
                                    <option value ="line">Line Chart</option>
                                    <option value ="scatter">Scatter Plot chart</option>
                                    <option value ="bubble">Bubble Chart</option>
                                    <option value ="radar">Radar Chart</option>
                                </select>
            
                                <canvas id="changeableChartCanvas"></canvas>
                                <button id="render" onclick="renderChangeableChart()">Render Chart</button>

                            </div>
                        </div>
                    </section>
                </div>
       

    <footer>
        <div class="footer">© 2023 CCL RobotMetrics Dashboard</div>
    </footer>
</body>
</html>
